@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.header {
  @include container;
  @include bar;
  padding: 0 2rem;
  justify-content: space-between;
  @include customMinBreakPoint(1240) {
    padding: 0 4rem;
  }
}

.header-bag {
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
}

.header-bag__item {
  height: 2.5rem;
  display: flex;
  align-items: flex-end;
  & icon {
    height: auto;
  }
}

.header-bag__count {
  margin-left: 1rem;
}

.header-bag__wishlist-count {
  margin-left: 1rem;
}
