@import "../../../../sassStyles//variables";

.remove__button {
  color: $whiteColor;
  background: $primaryColor;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  outline: none;
  display: flex;
  justify-content: center;
}

.remove__button:disabled,
.remove__button[disabled] {
  opacity: 0.3;
}
