@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.loader-container {
  @include fixed-center;
}

.loader {
  border: 1rem solid $greyColor;
  border-top: 1rem solid $primaryColor;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
