@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.product-list__item {
  padding: 1 0rem;
  width: 100%;
  flex: 1 0 100%;
  margin-bottom: 2rem;
  @include customMinBreakPoint(500) {
    padding: 1rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $whiteColor;
  position: relative;
  border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.15);
  transition: transform .5s;
  border-radius: 1rem;

  &:hover {
    transform: scale(1.02);
      box-shadow: 0 .2rem 1.5rem rgba(0, 0, 0, 0.15);
  }
}
