@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.wishlist__container {
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  background: $whiteColor;
  display: flex;
  @include customMinBreakPoint(600) {
    width: 90vw;
  }

  @include customMinBreakPoint(800) {
    width: 70vw;
  }

  @include customMinBreakPoint(1200) {
    width: 60vw;
  }

  & > ul > li > article > figure {
    padding: 0;
  }

  & > ul > li > article > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.whishlist-item__container {
  padding: 3rem;

  @include customMinBreakPoint(574) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  & > li {
    @include smMinBreakPoint {
      flex: 1 0 50%;
      max-width: 50%;
    }

    @include lgMinBreakPoint {
      flex: 1 0 33.3333%;
      max-width: 33.3333%;
    }
  }
}

.cart__no-result {
  display: flex;
  justify-content: center;
  align-items: center;

  & h3 {
    font-size: 2rem;
  }
}
