@import "../../../sassStyles//variables";

.cartItem__container {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cartItem__image-container {
  padding: 1rem;
  width: 30%;
  height: 10rem;
}

.cartItem__image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.cartItem__details {
  padding: 1rem 0rem;
  width: 50%;
  display: flex;
  flex-direction: column;

  & p:first-child {
    color: $blackColor;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  & div:last-child {
    & p {
      font-size: 1.6rem;
      font-weight: normal;
      color: $textLight1Color;
    }
  }
}

.cartItem__buttons-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & div:last-child {
    display: flex;
    align-items: center;

    & p {
      padding: 0rem 0.8rem;
    }
  }
}
