@import "../../../../sassStyles//variables";

.remove-wishlist__button {
  padding: 0.5rem 1rem;
  background: $greyColor;
  color: $textColor;
  font-size: 2rem;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: -1rem;
  cursor: pointer;
  z-index: 1;
}
